<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>Get started with MapView - Create a 2D map - 4.4</title>
  <style>
    html,
    body,
    #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
  </style>

  <link rel="stylesheet" href="https://js.arcgis.com/4.4/esri/css/main.css">
  <script src="https://js.arcgis.com/4.4/"></script>

  <script>
      require([
      "esri/Map",
      "esri/views/MapView",
      "esri/geometry/Polyline",
      "esri/symbols/SimpleLineSymbol",
      "esri/Graphic",
      "dojo/domReady!"
    ], function(
      Map,
      MapView,
      Polyline,
      SimpleLineSymbol,
      Graphic
    ) {

      //
      // This is where you created a Map and MapView in the previous steps
      //
      var map = new Map({
        basemap: "hybrid"
      });

      var view = new MapView({
        container: "viewDiv",
        map: map,
        zoom: 4,
        center: [-86.13706011292135,
        44.17419086283442]
      });// longitude, latitude
      // Create a line geometry with the coordinates of the line
      var polyline = new Polyline({
        paths: [


                        [
                           -86.13706011292135,
                           44.17419086283442
                        ],
                        [
                           -86.137565712611,
                           44.174465263059155
                        ],
                        [
                           -86.1378941133227,
                           44.17454413064332
                        ],
                        [
                           -86.1380735805468,
                           44.1744925300838
                        ],
                        [
                           -86.13837938054425,
                           44.17421893019848
                        ],
                        [
                           -86.13856911371539,
                           44.1742257300716
                        ],
                        [
                           -86.1388345802549,
                           44.17438453078939
                        ],
                        [
                           -86.13886131321944,
                           44.174560063287096
                        ],
                        [
                           -86.13845851313762,
                           44.17499766327185
                        ],
                        [
                           -86.13851571336333,
                           44.17509486324589
                        ],
                        [
                           -86.1387785801784,
                           44.175256263234616
                        ],
                        [
                           -86.13926351412496,
                           44.17543573097821
                        ],
                        [
                           -86.13950391407478,
                           44.17547346323592
                        ],
                        [
                           -86.13979818150061,
                           44.17546606303785
                        ],
                        [
                           -86.14023151352231,
                           44.17553573026719
                        ],
                        [
                           -86.14070818117162,
                           44.175445663200925
                        ],
                        [
                           -86.1409177805853,
                           44.17558793038148
                        ],
                        [
                           -86.14097878158297,
                           44.17611746310891
                        ],
                        [
                           -86.14102891386403,
                           44.176217930271555
                        ],
                        [
                           -86.1411433816891,
                           44.17628646334013
                        ],
                        [
                           -86.14142018227255,
                           44.17635506333318
                        ],
                        [
                           -86.14182838122923,
                           44.176229930474115
                        ],
                        [
                           -86.14251378231629,
                           44.1762872635246
                        ],
                        [
                           -86.14306778233515,
                           44.176503730416485
                        ],
                        [
                           -86.14324791521088,
                           44.17662313000502
                        ],
                        [
                           -86.14331351468451,
                           44.17675606344441
                        ],
                        [
                           -86.14330271513815,
                           44.17686013031422
                        ],
                        [
                           -86.14313978140687,
                           44.17707513005067
                        ],
                        [
                           -86.14316811516923,
                           44.177214330484354
                        ],
                        [
                           -86.14350771517758,
                           44.177560662793944
                        ],
                        [
                           -86.1437285147862,
                           44.17763686288341
                        ],
                        [
                           -86.14421691533144,
                           44.17770153070312
                        ],
                        [
                           -86.14449038226687,
                           44.177646130507384
                        ],
                        [
                           -86.144640382953,
                           44.17750646271775
                        ],
                        [
                           -86.14465651579721,
                           44.177364930111445
                        ],
                        [
                           -86.14461631528991,
                           44.17727026388893
                        ],
                        [
                           -86.14447438237335,
                           44.177171530293435
                        ],
                        [
                           -86.14445258295635,
                           44.17706766305028
                        ],
                        [
                           -86.14462638181098,
                           44.17685553026453
                        ],
                        [
                           -86.1448051151115,
                           44.1768052634238
                        ],
                        [
                           -86.14498631518578,
                           44.17685693025166
                        ],
                        [
                           -86.14526551606764,
                           44.177148662880796
                        ],
                        [
                           -86.14543751649511,
                           44.1772138633953
                        ],
                        [
                           -86.14652211541969,
                           44.17723313001051
                        ],
                        [
                           -86.14733058300573,
                           44.1770736630654
                        ],
                        [
                           -86.1477749166947,
                           44.17707053001775
                        ],
                        [
                           -86.14810891660555,
                           44.17721213033381
                        ],
                        [
                           -86.14817051677953,
                           44.177527863017666
                        ],
                        [
                           -86.14827078313827,
                           44.17760466359657
                        ],
                        [
                           -86.14836758379667,
                           44.17761992989661
                        ],
                        [
                           -86.14868631683925,
                           44.17753286309868
                        ],
                        [
                           -86.1490263174962,
                           44.177570130149554
                        ],
                        [
                           -86.14917411641159,
                           44.17747906308107
                        ],
                        [
                           -86.14923091778529,
                           44.177019929632145
                        ],
                        [
                           -86.14963098429372,
                           44.17625813023185
                        ],
                        [
                           -86.14971078433535,
                           44.17619493041339
                        ],
                        [
                           -86.1501473170544,
                           44.17612886222555
                        ],
                        [
                           -86.15028711647217,
                           44.176162862414984
                        ],
                        [
                           -86.15042058366551,
                           44.176267729872144
                        ],
                        [
                           -86.15063631677594,
                           44.17670106244979
                        ],
                        [
                           -86.15096018369037,
                           44.17685712997373
                        ],
                        [
                           -86.15136671717053,
                           44.17655812920462
                        ],
                        [
                           -86.15151111775918,
                           44.176570329705264
                        ],
                        [
                           -86.1518891845263,
                           44.17673886283433
                        ],
                        [
                           -86.15228438575915,
                           44.17674532997566
                        ],
                        [
                           -86.15256971764283,
                           44.17668466264697
                        ],
                        [
                           -86.15308791800099,
                           44.176351929603065
                        ],
                        [
                           -86.15358058464552,
                           44.17618526246841
                        ],
                        [
                           -86.15392718522484,
                           44.17616686270125
                        ],
                        [
                           -86.15425278498947,
                           44.176255262580604
                        ],
                        [
                           -86.15441011862328,
                           44.17638946219517
                        ],
                        [
                           -86.15441871909381,
                           44.176564329638886
                        ],
                        [
                           -86.15375171819872,
                           44.17717912999845
                        ],
                        [
                           -86.1537715179659,
                           44.177425462734476
                        ],
                        [
                           -86.15392918487467,
                           44.17755452946717
                        ],
                        [
                           -86.15404598562455,
                           44.17766846299477
                        ],
                        [
                           -86.15454018569328,
                           44.177841262456035
                        ],
                        [
                           -86.15480511863349,
                           44.17799913022406
                        ],
                        [
                           -86.15504038650808,
                           44.17804746329207
                        ],
                        [
                           -86.1553741196193,
                           44.17798566341899
                        ],
                        [
                           -86.15572458564928,
                           44.17779253042552
                        ],
                        [
                           -86.15586651946418,
                           44.17779746283739
                        ],
                        [
                           -86.15594951930487,
                           44.17788586284923
                        ],
                        [
                           -86.15604378671414,
                           44.17819846344756
                        ],
                        [
                           -86.15618771928054,
                           44.178383062691566
                        ],
                        [
                           -86.15670952008637,
                           44.178901462937304
                        ],
                        [
                           -86.15708231913264,
                           44.179128262859805
                        ],
                        [
                           -86.15741438766564,
                           44.178910329643834
                        ],
                        [
                           -86.15769111907879,
                           44.17883186282021
                        ],
                        [
                           -86.1578867865207,
                           44.17885866332675
                        ],
                        [
                           -86.15854071962337,
                           44.179112329517594
                        ],
                        [
                           -86.15883191930249,
                           44.17913126308473
                        ],
                        [
                           -86.15904532038645,
                           44.17898772949929
                        ],
                        [
                           -86.15935418813059,
                           44.17858592959381
                        ],
                        [
                           -86.15952138796116,
                           44.17851872956684
                        ],
                        [
                           -86.15966452012864,
                           44.17854246295934
                        ],
                        [
                           -86.15993851976503,
                           44.178746462538435
                        ],
                        [
                           -86.16097118798135,
                           44.17909132986595
                        ],
                        [
                           -86.16136792084176,
                           44.179079529960205
                        ],
                        [
                           -86.16212412085129,
                           44.178913130164744
                        ],
                        [
                           -86.16227178861264,
                           44.17900646274738
                        ],
                        [
                           -86.16259538872744,
                           44.17944372952159
                        ],
                        [
                           -86.16368452144927,
                           44.179932062560454
                        ],
                        [
                           -86.16458312239764,
                           44.180496863032516
                        ],
                        [
                           -86.16465232231891,
                           44.18059146287343
                        ],
                        [
                           -86.16465818831773,
                           44.18073286275579
                        ],
                        [
                           -86.16438052175836,
                           44.181047329379375
                        ],
                        [
                           -86.1647279218383,
                           44.181475062753734
                        ],
                        [
                           -86.16480272185706,
                           44.18175066274662
                        ]
        ]
      });

      var lineSymbol = new SimpleLineSymbol({
          color: [226, 119, 40],  // RGB color values as an array
          width: 4
      });

      var lineAtt = {
        Name: "Keystone Pipeline",  // The name of the pipeline
        Owner: "TransCanada",  // The owner of the pipeline
        Length: "3,456 km"  // The length of the pipeline
      };

      var polylineGraphic = new Graphic({
    geometry: polyline,   // Add the geometry created in step 4
    symbol: lineSymbol,   // Add the symbol created in step 5
    attributes: lineAtt   // Add the attributes created in step 6
  });

  view.graphics.add(polylineGraphic);
    });
  </script>
</head>

<body>
  <div id="viewDiv"></div>
</body>
</html>
